/* @font-face {
	font-family: '휴먼명조';
	unicode-range: U+0020-007E;
} */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	/* vertical-align: baseline; */
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	/* font-size: 20px; */
	background:#f2f2f2;
}
.hwp-wrapper td{vertical-align: middle}
.hwp-wrapper {
	/* font-size: 20px; */
	/* font-size: 12.5px; */
	/* font-size:10px; */
	background:#f2f2f2;
	padding:20px 0;
}
.hwp-wrapper .hwp-page:first-child{margin-top:20px}
.hwp-wrapper .hwp-page{
	box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  background-color:#fff;
  margin: 0px auto 0.5in;
  position: relative;
  break-after: page;
}
.hwp-wrapper *{
	white-space: pre-wrap;
	box-sizing: border-box;
}
.hwp-wrapper span.hwp-para-text{
	white-space: pre-wrap;
}
.hwp-wrapper .paragraph_parent{
	width:100%;
	height:100%;
	display:unset;
	position: relative;
}
.hwp-wrapper .paragraph{
	width:100%;
	height:100%;
	position: absolute;
}
.hwp-wrapper table{
	/* box-sizing: border-box; */
}
/* .hwp-wrapper .paragraph_wrapper::after {
	clear: both;
	content:'';
	display:block;
} */
.hwp-wrapper table td .paragraph_wrapper p{ 
	-webkit-column-break-inside: avoid;
  -webkit-backface-visibility: hidden; 
}
.hwp-wrapper .para-normal {
	margin: 0pt;
	font-size:10pt;
	text-align: justify;
	text-indent: 0pt;
	min-height: 1.6em;
}

/*
테이블 내의 p 태그가 부모 태그의 넓이를 무시하는 경우가 있어서 넣음.
*/
.hwp-wrapper table p{width:inherit !important}
.hwp-wrapper .img_parent{
	width:100%;
	height:100%;
	display: block;
}

/* .hwp-wrapper table td .paragraph_wrapper {
	position: unset !important;
}
.hwp-wrapper table td .paragraph_parent {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-flow: column;
}
.hwp-wrapper table td p[data-start] {
	position: unset !important;
} */
.hwp-page .hwp-column {
	display:grid;
	position: relative;
}
.hwp-page .hwp-col {
	position: relative;
}
.hwp-wrapper .inter-word {
	display: inline-block; 
	text-align-last: justify;
}
.hwp-wrapper .inter-word p:last-child{
	text-align:justify;
	display:flex;
}
.preview{
	position: fixed;
	top:0;
	left:0;
}
